@{
    Layout = null;

    var learnWhat = "Asp.net MVC";
    var learnWhen = "Learning it now";
    var learnHow = "with treeHouse";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1> 
            Hello from the Other side
        </h1>
        <h2>
            @learnWhat
        </h2>
        <div>
            @Html.Raw(learnHow)
        </div>
        <h3>
            @learnWhen
        </h3>

        <h4>
            @learnHow
        </h4>
    </div>
</body>
</html>
